<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue购物车</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
    <style>
        .container{
            width: 40%;
            margin: 100px auto;
        }
        .removed{
            color: gold;
        }
        .removed label{
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <div class="container" id="app">
        <h2>{{title}}</h2>
        <div class="input-group">
            <input class="form-control" v-on:keyup.enter="addItem"  v-model='newItem' type="text" placeholder="输入你想购买的物品">
            <span class="input-group-btn">
                <button v-on:click="addItem" class="btn-default">添加到购物车</button>
            </span>
        </div>
        <ul>
            <li v-for='item in items' v-bind:class="{'removed':item.checked}">
                <div class="checkbox">
                    <label for="">
                        <input class="js-item" type="checkbox" v-model="item.checked">{{item.text}}
                    </label>
                </div>
            </li>
        </ul>
        <div class="footer">
            <hr>
            <span>改变你的标题</span>
            <input  v-model='title'>
        </div>
    </div>
    <div>{{item}} 的平方是<span v-square='item'></span></div>
</body>

<script>
    //自定义指令square
    Vue.directive('square',function(el,binding){
        el.innerHTML = Math.pow(binding.value,2)
    })
    var data = {
        items:[
            {text:'苹果',checked:true},
            {text:'电脑',checked:true}
        ],
        title:"我的购物车清单",
        newItem:'',
        item:10
    }
    new Vue({
        el:'#app',
        data:data,
        methods:{
            addItem:function(){
                var text;
                text = this.newItem.trim()
                if (text){
                    this.items.push({
                        text:text,
                        checked:false
                    })
                };
                this.newItem = ''
            },
            showItem:function(){
                
            }
        }
    })
</script>
</html>